@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;0,300;0,400;1,300&display=swap');

.square-link-processos {
    height: 32%;
    width: 40%;
    margin: 0.5rem;
    transition: all 0.2s ease;
    color: #f9f9f9;
    background-color: #f9f9f9;
   

    box-shadow: 0 0 0.5em #c3ecff;
}

.square-link-processos:hover {
    transform: translateY(-10px);
}

.square-link-processos .title-processos {
    color: #161652;
    background-color: #e9f8ff;
    width: 100%;
    height: 27px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 0 0.5em #c3ecff;
}

.square-link-processos .img-processos {
    height: 100%;
    width: 100%;
    cursor: pointer;
    box-shadow: 0 0 0.5em #c3ecff;
}




.square-link-ata {
    height: 200px;
    width: 700px;
    margin: 0.5rem;
    transition: all 0.2s ease;
    color: #0f54a3;
    background-color: #0f54a3;
    

    box-shadow: 0 0 0.2em #0f54a3;
}

.square-link-ata:hover {
    transform: translateY(-10px)
}

.square-link-ata .title-processos {
    color:  #F9F9F9;
    background-color: #0f54a3;
    width: 100%;
    height: 27px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;

    cursor: pointer;

    box-shadow: 0 0 0.2em #0f54a3;
}

.square-link-ata .img-ata {
    height: 100%;
    width: 100%;

    cursor: pointer;
    box-shadow: 0 0 0.2em #0f54a3;
}


.square-link-boletim {
    height: 200px;
    width: 34%;
    margin: 0.4rem;
    transition: all 0.2s ease;
    color: #f9f9f9;
    background-color: #f9f9f9;
    margin-right: 62%;

    margin-bottom: 65px;
    

    box-shadow: 0 0 0.5em #7de78e;
}

.square-link-boletim:hover {
    transform: translateY(-10px)
}

.square-link-boletim .img-boletim {
    height: 100%;
    width: 100%;
    cursor: pointer;
    box-shadow: 0 0 0.2em #7de78e;
}

.square-link-boletim .title-boletim {
    color:  #2a2a33;
    background-color: #f9f9f9;
    width: 100%;
    height: 27px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;

    cursor: pointer;

    box-shadow: 0 0 0.2em #7de78e;
}


