@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;0,300;0,400;1,300&display=swap');

.header-square {
    width: 100vw;
    min-width: auto;
    height: 115px;
    background-color: #f9f9f9;
    margin-top: -33px;
    margin-left: -27px;

    box-shadow: 0 0 1em #C2C2CD;
}

.header-square #page-name {
    margin-top: 70px;
    margin-left: 100px;
    align-items: center;
    font-weight: 400;
    font-size: 28px;

    font-family: 'Fira Sans', sans-serif;
    color: #2A2A33;
    opacity: 1;
}
  