#aside {
    background-color: #2a2a33;
    box-sizing: unset;
    display: flex;
    width: 120px;
    z-index: 1;

    font-family: Open Sans, sans-serif;
    font-weight: 600;
    height: 100%;
    max-height: 100%;

    box-shadow: 0 0 1em #C2C2CD;
}

#menu-aside {
    background-color: #2a2a33;
    color: #c2c2cd;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    height: 100%;
    position: relative;
    width: 120px;

    box-shadow: 0 0 1em #C2C2CD;
}

#aside #menu-aside .menu-header {
    align-items: center;
    background-color: linear-gradient(326deg, #3a3a45, #2a2a33);
    display: flex;
    height: 102px;
    width: 110px;
    min-height: 102px;
    min-width: auto;
    position: relative;
}

#aside #menu-aside .menu-header .company-logo {
    background-color: transparent;
    background-origin: content-box;
    background-position: 50%;
    background-repeat: no-repeat;
    border-radius: 4px;
    bottom: 8px;
    left: 8px;
    position: absolute;
    right: 8px;
    top: 15px;
    display: block;
    width: 105px;
    height: 60px;
}



#aside #menu-aside .menu-app {
    align-items: center;
    background-color: #1199DD;
    color: #f9f9f9;
    display: flex;
    flex-direction: column;
    font-size: .6875rem;
    height: 40px;
    justify-content: center;
    min-height: 75px;
    position: relative;
}

#aside #menu-aside .menu-app .span-frase {
    font-size: 10px;
}

#aside #menu-aside .menu-app::after {
    background-color: inherit;
    border-bottom-right-radius: 1px;
    bottom: -6px;
    content: "";
    height: 12px;
    position: absolute;
    width: 12px;
    

    transform: rotate(
    45deg
);
}

#aside #menu-nav .painel-span {
    color: #C2C2CD;
    font-size: 11px;
    margin-top: 7px;
}

#aside #menu-nav .icn-painel-icon {
    height: 24px;
    width: 24px;
    color: #C2C2CD;
    padding: 0 0 4px 0;
    margin-top: 3px;
    min-height: auto;
    min-width: auto;
}

#aside #menu-aside #menu-nav .menu-nav-item-painel {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 75px;
    justify-content: center;
    padding-left: 3%;
    color: #2a2a33;

    margin-top: 20px;

}

#aside #menu-aside #menu-nav .menu-nav-item-painel:hover{
    transform: scale(1.06);
}

#aside #menu-aside #menu-nav .menu-nav-item-profile {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 75px;
    justify-content: center;
    padding-left: 3%;
    color: #2a2a33;
}


#aside #menu-aside #menu-nav .menu-nav-item-profile:hover {
    transform: scale(1.06);
}

#aside #menu-aside #menu-nav .menu-nav-item-ranking {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 75px;
    justify-content: center;
    padding-left: 3%;
    color: #2a2a33;
}
#aside #menu-aside #menu-nav .menu-nav-item-ranking:hover {
    transform: scale(1.06);
}

#aside #menu-aside #menu-nav .menu-nav-item-challenges {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 75px;
    justify-content: center;
    padding-left: 3%;
    color: #2a2a33;
}

#aside #menu-aside #menu-nav .menu-nav-item-challenges:hover {
    transform: scale(1.06);
}

#aside #menu-aside #menu-nav .menu-nav-item-analytics{
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 75px;
    justify-content: center;
    padding-left: 3%;
    color: #2a2a33;
}

#aside #menu-aside #menu-nav .menu-nav-item-analytics:hover {
    transform: scale(1.06);
}

