@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;0,300;0,400;1,300&display=swap');

.squares {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #333;
    background-color: #eeeeee;
    
  }
  

.square-analytics {
  
    height: 550px;
    width: 570px;
    margin: 0.3rem;
    transition: all 0.2s ease;
    color: #f9f9f9;
    background-color: #f9f9f9;
    margin-top: 40px;

    box-shadow: 0 0 1.5em #C2C2CD;
}

.square-analytics-agQtd {
    height: 430px;
    width: 90%;
    margin: 0.3rem;
    transition: all 0.2s ease;
    color: #f9f9f9;
    background-color: #f9f9f9;
    margin-top: 40px;

    box-shadow: 0 0 1.5em #C2C2CD;
}

.square-analytics-agQtd .square-title {
    color: #2A2A33;
    width: 100%;
    height: 50px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 0 0.5em #C2C2CD;
}

.square-analytics-agQtd:hover {
    transform: scale(1.01);
}

.square-analytics-agMedia {
    height: 350px;
    width: 90%;
    margin: 0.3rem;
    transition: all 0.2s ease;
    color: #f9f9f9;
    background-color: #f9f9f9;
    margin-top: 40px;

    box-shadow: 0 0 1.5em #C2C2CD;
}

.square-analytics-agMedia .square-title {
    color: #2A2A33;
    width: 100%;
    height: 50px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 0 0.5em #C2C2CD;
}

.square-analytics-agMedia:hover {
    transform: scale(1.01);
}

.square-analytics-media-seg {
    height: 550px;
    width: 570px;
    margin: 0.3rem;
    transition: all 0.2s ease;
    color: #f9f9f9;
    background-color: #f9f9f9;
    margin-top: 40px;

    box-shadow: 0 0 1.5em #C2C2CD;
}


.square-segpercent {
    height: 550px;
    width: 570px;
    margin: 0.3rem;
    transition: all 0.2s ease;
    color: #f9f9f9;
    background-color: #f9f9f9;
    margin-top: 40px;

    box-shadow: 0 0 1.5em #C2C2CD;
}

.segpercent-date {
    display: flex;
    justify-content: space-evenly;
    margin-top: 8px;
}

.segpercent .segpercent-chart {
    height: 80%;
    width: 100%;
}


.segpercent-date .segpercent-date-start {
    display: flex;
    flex-direction: row;
    width: 50%;
    background-color: #F9F9F9;
    align-items: center;
}

.segpercent-date .segpercent-date-start h1 {
    width: 120px;
    font-size: 15px;
    align-items: center;
    font-family: 'Fira Sans', sans-serif;
    color: #2A2A33;
    background-color:  #F9F9F9;
}

.segpercent-date .segpercent-date-end {
    display: flex;
    flex-direction: row;
    width: 42%;
    background-color: #F9F9F9;
    align-items: center;
}
.segpercent-date .segpercent-date-end h1 {
    width: 120px;
    font-size: 15px;
    align-items: center;
    font-family: 'Fira Sans', sans-serif;
    color: #2A2A33;
    background-color:  #F9F9F9;
}



.square-segpercent .square-title {
    color: #2A2A33;
    width: 100%;
    height: 50px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 0 0.5em #C2C2CD;
}


.square-analytics .square-title {
    color: #2A2A33;
    width: 100%;
    height: 50px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 0 0.5em #C2C2CD;
}

.square-analytics:hover {
    transform: scale(1.01);
}

.segqtd-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 91%;
}

.segqtd-main .segqtd-chart {
    display: flex;
    width: 100%;
    height: 100%;  
}

.segqtd-main .seg-date {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 10px;
    background-color:  #F9F9F9;
}

.segqtd-main .seg-date .seg-date-start h1 {
    width: 120px;
    font-size: 15px;
    align-items: center;
    font-family: 'Fira Sans', sans-serif;
    color: #2A2A33;
    background-color:  #F9F9F9;
}

.segqtd-main .seg-date .seg-date-start {
    display: flex;
    flex-direction: row;
    width: 50%;
    background-color: #F9F9F9;
    align-items: center;
}

.segqtd-main .seg-date .seg-date-end {
    display: flex;
    flex-direction: row;
    width: 42%;
    background-color: #F9F9F9;
    align-items: center;
}

.segqtd-main .seg-date .seg-date-end h1 {
    width: 103px;
    font-size: 15px;
    align-items: center;
    font-family: 'Fira Sans', sans-serif;
    color: #2A2A33;
    background-color:  #F9F9F9;
}

.advanced-analytics {
    margin-left: 80%;
}

 .button-indicadores {
    height: 40px;
    width: 150px;
    background-color: #1199DD;
    color:  #F9F9F9;
    cursor: pointer;
    font-family: 'Fira Sans', sans-serif;
    border: 2px solid #1199DD;

    border-radius: 5px;
}

.button-indicadores:hover {
    transform: scale(1.03)
}