* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.root {
 box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction:initial;
  height: 100vh;
  width: 100vw;
  
}


.content {
  flex-grow: 1;
  padding: 0.3rem;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: #333;
  background-color: #eeeeee;

  
}

.square {
  box-shadow: 5px 5px 20px aqua;
  height: 200px;
  width: 200px;
  margin: 0.3rem;
  transition: all 0.2s ease;
  color: white;
  background-color: white;
}

.square2 {
  box-shadow: 5px 5px 20px aqua;
  height: 200px;
  width: 200px;
  margin: 0.3rem;
  transition: all 0.2s ease;
  color: white;
  background-color: white;
}